[coverage:run]
branch = True
omit = *tests*  # define paths to omit

[coverage:report]
show_missing = True
skip_covered = True
exclude_lines =
        pragma: no cover
        noqa: no cover
        if __name__ == .__main__.: no cover
